<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Information Card</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Inner City Living</h1>
    </div>

    {% for c in inner %}

    <div class="container mt-5">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ c.city }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Rent: ${{ c.rent }}</h6>
                <p class="card-text">Price of Beer: ${{ c.beer }}</p>

                {% if c.gym_bool == 1 %}
                <p class="card-text">Price of gym: ${{ c.gym }}</p>
                {% endif %}
            </div>
        </div>
    </div>

    {% endfor %}


    <hr>

    <div class="container mt-5">
        <h1>Suburb Living</h1>
    </div>

    {% for c in outer %}

    <div class="container mt-5">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ c.city }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Rent: ${{ c.rent }}</h6>
                <p class="card-text">Price of Beer: ${{ c.beer }}</p>
                {% if c.gym_bool == 1 %}
                <p class="card-text">Price of gym: ${{ c.gym }}</p>
                {% endif %}
            </div>
        </div>
    </div>

    {% endfor %}


    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
